<template name="home">
  <div class="container">
    <div class="jumbotron">
      <h5>Welcome to the marvelous</h5>
      <h2>Peer to Peer Pool Scanner</h2>
      <div class="input-group col-xs-6">
        <input type="text" class="form-control" id="ip" placeholder="Node Address">
      </div>
      <div class="input-group col-xs-6">
        <input type="text" class="form-control" id="port" placeholder="Port">
        <span class="input-group-btn">
          <button class="btn btn-primary scan" id="drk" type="button">DRK</button>
          <button class="btn btn-primary scan" id="btc" type="button">BTC</button>
          <button class="btn btn-primary scan" id="fst" type="button">FST</button>
        </span>
      </div>
    </div>
    <div class="col-xs-12">
      <table class="table table-striped">
        {{#each pools}}
        <tr>
          <th><div class="label label-info">{{currency}}</div></th>
        </tr>
        <tr>
          <th>{{seed}}</th>
          <td>
            <table>
              <tr><td><button type="button" class="ping">Ping</button></td></tr>
              {{#each nodes}}
              {{>node}}
              {{/each}}
            </table>
          </td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>
</template>

<template name="node">
  <tr>
    <td><div class="node blast">{{ip}}</div></td>
    <td><div class={{pingColored}}>{{ping}}</div></td>
  </tr>
</template>


<template name="loading">
  <h3>Loading...</h3>
</template>